@charset "UTF-8";

@font-face {
	font-family: "RNHouseSansW03-Regular";
	src: url("/fonts/RNHouseSansW03-Regular.woff") format("woff")
}

body {
	font-family: RNHouseSansW03-regular, Calibri, Geneva, sans-serif
}

h1 {
	text-align: center;
}

#canvas_div {
	/*position: relative;*/
	overflow: scroll;
	width: 1000px;
	height: 1000px;
	border: 2px solid black;
	margin-left: 50px;
}

#pdf_canvas {
	/*position: absolute;*/
	border: 1px solid red;
	max-width: 100%;
}

#pdf_canvas:first-child {
	width: 100%;
}

#success_text {
	padding: 20px;
	color: #0a2f64;
	font-size: 24px;
	text-align: center;
}

#error_text {
	padding: 20px;
	color: red;
	font-size: 24px;
	text-align: center;
}

.function_heading {
	text-align: center;
	font-size: 23px;
	//background-color: #27ae60;
	padding: 4px;
	width: 50%;
	height: 48px;
	margin: 0 auto;
	margin-bottom: 18px;
	border-radius: 5px;
	color: black;
	border:1px solid black;
}

input[name='signId'] {
	width: 650px;
}

input[type='text'] {
	text-align: center;
	border-radius: 5px;
}

hr {
	height: 1px;
	background-color: black;
	width: 90%;
}

}
.btn-group.btn-group-crop {
	margin: 10px;
}

.btn.btn-success {
	background-color: darkslategray;
}

.btn.btn-success.btn-crop-action {
	margin-left: 10px;
}

.container {
	padding-left: 0px;
}

.btn.btn-primary {
	background-color: white;
	color: #0a2f64;
}

.img-preview {
	/*
  float: left;
  margin-bottom: .5rem;
  margin-right: .5rem;
  overflow: hidden;*/
	
}

.img-preview>img {
	/*max-width: 100%;*/
	
}

.preview-lg {
	/* height: 9rem;
  width: 16rem; */
	
}

.crop_preview {
	border: 2px solid black;
	float: right;
	position: absolute;
	top: 650px;
	right: 10px;
	overflow: hidden;
	max-width: 100%;
	height: 25rem;
	width: 25rem;
}

.entry_details {
	text-align: center;
	font-size: 28px;
}

.btn-group-submit-div {
	width: 100%;
	text-align: center;
}

.btn-group-submit {
	width: 80%; //
	height: 40px;
	margin-left: 120px;
}

.btn.btn-success.btn-group-submit {
	margin-left: 120px;
	font-size: 28px;
}

.heading {
	background-color: #0a2f64;
	color: white;
	text-align: center;
	/*padding: 30px;*/
	font-size: 20px;
	margin: 10px;
	height: 100px;
	border-radius: 5px;
}

.heading span {
	font-size: 30px;
	line-height: 100px;
	vertical-align: middle;
}

.actions-container {
	padding-left: 50px;
}

.btn-primary {
	font-size: 35px;
}

.btn.btn-success {
	font-size: 20px;
}

.col-md-9.docs-buttons .btn-group {
	margin-right: 20px;
}
